celery
httpx
requests
pycuda
numpy
redis
fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
sqlmodel

# windows needed
# eventlet

# Store related dependencies, can be installed according to selection
oss2
cos-python-sdk-v5

# Translate related dependencies, can be installed according to the selection
# nltk
langdetect
tencentcloud-sdk-python
alibabacloud_alimt20181012

# LLM related dependencies
openai
#dashscope
zhipuai
#volcengine-python-sdk